<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="sneer.ui"
   name="Sneer UI Plug-in"
   version="0.0.3"
   provider-name="Klaus Wuestefeld and Rodrigo B. de Oliveira"
   class="sneer.ui.SneerUIPlugin">

   <runtime>
      <library name="sneer.ui.jar"/>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="sneer"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sneer"
            id="sneer.ui">
      </category>
      <view
            name="Sneer View"
            icon="icons/sample.gif"
            category="sneer.ui"
            class="sneer.ui.views.SneerView"
            id="sneer.ui.views.SneerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="sneer.ui.viewsSneerView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
