<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="sneerBuilder"
         name="Sneer Project Checker"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="snuggin.builder.SneerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sneerNature"
         name="Sneer Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="snuggin.builder.SneerNature">
         </run>
      </runtime>
      <builder
            id="snuggin.sneerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="snuggin.contribution1">
         <action
               label="Toggle Sneer Nature"
               class="snuggin.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="snuggin.addRemoveNatureAction">
         </action>
      </objectContribution>
      <objectContribution
            id="snuggin.contribution1"
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource">
            
            <enablement>
            <or>
 
            <objectClass
                  name="org.eclipse.jdt.core.IPackageFragment">
            </objectClass>
            <objectClass
                  name="org.eclipse.jdt.core.IJavaProject">
            </objectClass>
            <objectClass
                  name="org.eclipse.jdt.core.ICompilationUnit">
            </objectClass>
            </or>
            </enablement>
            
         <menu
               id="snuggin.menu1"
               label="Snugging Utilities"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="snuggin.popup.actions.InjectToMy"
               enablesFor="+"
               id="snuggin.newAction"
               label="@Inject -&gt; my"
               menubarPath="snuggin.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="sneerProblem"
         name="Sneer Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
